:root{
  --main-color: #42A8AA;
  --white-color:#f5f5f5;
  --main-color-darkshade:#1C484A;
  --section-bg:#ECF6F6;
  --main-color-lightshade: #67B9BB;
  --heading: 'gotu';
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--section-bg);
}

.container{
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 20px; */
}

h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3{
  font-size: 30px;
  line-height: 100px;
  color: #222;

}

h4{
  font-size: 20px;
  /* line-height: 2.5rem; */
  color: #333;
}

h6{
  font-size: 16px;
  font-weight: 700;
  color: #222;

}

.reg-p{
  font-weight: 300;
}

p{
  font-size: 16px;
  color: #666;
  line-height: 170%;
}

.section-title{
  color: var(--main-color-darkshade);
  line-height: 140%;
  display: inline-block;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.section-title span{
  color: var(--main-color);
  font-family: 'Poppins', sans-serif;
}

.secondary-title{
  font-family: 'Gotu', sans-serif;
  color: var(--main-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text-center{
  text-align: center;
}

.logo-container{
  width: 25%;
}

.logo-container a {
  display: inline-block;
  height: 100%;
}

.logo-container img{
 height: 40px;
}

.h-font{
  /* font-family: 'Merienda', cursive; */
  font-family: 'Gotu', sans-serif;
}

/* BUTTONS */
.btn {

  width: auto;
  background-color: var(--main-color) ;
  color: var(--white-color);
 border: 1px solid var(--main-color);
  /* border-radius: 5px; */
  padding: 5px 10px;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  transition: 0.6s all;
}

.btn:hover{
 border: 1px solid var(--main-color);
  background-color: var(--white-color);
  color: #222;
}

.secondary-btn{
  color: #333;
  background-color: var(--white-color);
  /* border-radius: 5px; */
  font-family: inherit;
  border: 1px solid #797979 ;
}

.btn-checkroom{
  height: 40px;
  width: 100%;
  text-align:center;
  padding: 2px 8px;
  background-color: var(--main-color) ;
  border: none;
  /* border-radius: 5px; */
  color: var(--white-color);
  cursor: pointer;
  transition: .5s all;
}

.btn-checkroom:hover{
  background-color: var(--main-color-darkshade);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 3rem 1.2rem 3rem ;
  z-index: 1200;
  position: absolute;
  background-color: #ffffffbb;
}

.user i, .admin i{
  margin-right: 10px;
}

.nav-btns-container{
  display: flex;
justify-content: flex-end;
width: 25%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  background-color: #ffffffee;
}

/* modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1300;
}


.form-container {
  margin:10px auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px #000;
}


.formHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:3px solid var(--main-color) ;
  padding-bottom:5px ;
}

.userlogintitle{
  display: flex;
  align-items: center;
}

.lclose:hover,.rclose:hover{
  color: rgb(253, 116, 116);
}

.lclose,.rclose{
  cursor: pointer;
  color: rgb(255, 174, 174);
}

.formContent{
  margin-top:20px ;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .model-form {
  margin: 10px auto;
  width: 25%;
  padding: 20px;
  background: #f1f1f1;
  /* border-radius: 5px;
} */

.login-form label,.register-form label{
  display: block;
  width: 100%;
}

.login-form input, .register-form input {
  width: 100%;
  padding: 7px 14px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f1f1f1;
}

.model-btn{
  width: 100%;
  height: 44px;
  font-size: 18px;
}



/* navigation */
.nav-links{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  list-style: none;
}


.nav-links li{
  list-style: none;
  position: relative;

}

.nav-links a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  transition: all 0.4s ease;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a:focus{
  color: var(--main-color);
}

.nav-btns{

  display: flex;
  gap: 20px;
}

/* HERO-SECTION */

.hero-section{
  position: relative;


}

.carousel{
  width: 100%;
}

.carousel-img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* height: 640px; */

}


/* booking availability */
.booking-availability{
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.493);

  width: 90%;
  height: auto;
  padding: 15px;
  box-shadow:0 0 5px 1px #00000054;
  position: relative;
  top: -250px;

  max-width: 1000px;
  margin: 0 auto 0 auto;
  z-index: 2;
  /* animation: bookingavailability 0.5s forwards; */
}

@keyframes bookingavailability{
0%{
  opacity: 0;
  display: none;
  transform: translateX(-150px);
}

50%{
  opacity: 0.5;
  display: block;
  transform: translateX(100px);
}

100%{
  opacity: 1;
transform: translateX(10px);
display: block;
}
}



.booking-availability h4{
  text-align: center;
}

.booking-content form{
display: flex;
/* flex-wrap: wrap;   for responsive */
gap:1.5rem;
justify-content: space-between;
align-items: flex-end;
}

.noroomerror{
  color: rgb(255, 56, 56);
  text-align: center;
  height: 600px;
  font-size: 24px;
}


.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
}

.content input, .content select{
  height: 40px;
  background-color: var(--section-bg);
  color: #666;
  border-radius: 0;
}

.content label{
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.booking{
  width: 100%;
  height: 30px;
  padding: 2px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */

}

.booking{
  color: #797979;
}


/* OUR ROOMS SECTION */
.swiper-container{
  width: 100%;
}

.our-room-section{
  z-index: 1000;
  position: relative;
  top: -220px;
  text-align: center;
  /* margin: 0 3rem 0 3rem; */
}

.product-card-container{
  display: flex;
  justify-content: center;
  gap: 1%;
 overflow: hidden;
}

.roomswipe{
  color: var(--main-color);
}

.product-card {
  background-color: var(--section-bg);
  text-align: center;
  min-width: 350px;
  max-width: 350px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.137);
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: ease-out 1s;
}

.room-price{
  font-weight: 600;
  color: #222;
}

.room-image{
  width: 100%;
  overflow: hidden;
  /* border-radius: 5px; */
}

.room-image img {
  width: 100%;
  height: 100%;
  /* border-radius: 5px; */
  overflow: hidden;
  transition: 0.6s all ;
}

.product-card .room-image img:hover{
  transform: scale(1.2);

}


.product-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

/* .product-card p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  line-height: 1.5;
} */

.product-title{
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #222;
}

.description-container{
  display: flex;
  gap: 10%;
}

.room-details{
  display: flex;
  flex-direction: column;
  gap: 2%;
  text-align: center;
}

.room-details p{
  line-height: 130%;
}

.facility-icons{
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  row-gap: 20px;
}

.room-icons {
  color: #444;
  border-right:1px solid #666 ;
  font-size: 25px;
  font-weight: 600;
}

.room-full-detail{
  justify-content: center;
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.room-full-detail {
  list-style: none;
  display: inline-block;
   margin: auto;
  margin-bottom:10px ;
}

.superscript {
        vertical-align: text-top;
        font-size: smaller;
      }

.room-full-detail li:last-child{
  border: none;
}

.room-full-detail li{
  font-size: 12px;
  border-right: 1px solid #333;
  text-align: center;
  display: inline-block;
  padding: 0 5px 0 5px;
  color: #111;
  font-weight: 500;

}


.room-icons:nth-child(4n) {
  border-right: none;
}

.card-btns{
  margin-top: 1rem;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.card-btns button{
  width: 100%;
  padding: 8px 16px;
}

.bookbtncontainer{
  width: 100%;
}

.bookingbutton{
  width: 100%;
 }


 .moreroomlink{
  text-decoration: none;
  color: #666;
 }

.more-room-btn{
  text-decoration: none;
  border: none;
  color: #666;
  margin-top: 1rem;
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--section-bg);
  /* transition: ease-in .3s; */
}

.more-room-btn:after{
  padding: 8px 16px;
  font-family: 'FontAwesome';
  content: '\f054';
  position: absolute;
  opacity: 0;
  top: 2.5px;
  right: -20px;
  left: 80px;
  transition: 0.5s;
  color: #666;
}

.more-room-btn:hover
{
  color: #222;
  text-decoration: none;
  padding-right: 24px;
  padding-left:8px;
  /* background-color: var(--main-color); */

}


.more-room-btn:hover:after
{
  opacity: 1;
  right: 10px;
}


.rating-stars{
  color: #FF9529;
}

/* popular facility Section */


.popular-facility-section{
  text-align: center;
  margin: auto auto 100px auto;
  display: flex;
  flex-direction: column;
}

.facility{
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  text-align: left;
}

.facility-image{
  width: 50%;
}

.facility-image img{
  width: 100%;
  height: 100%;
}

.welcome-texts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.facility-content{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  padding: 30px;
  overflow: hidden;
}

.readmore{
  margin-top: 5%;
  width:120px;
  font-size: 16px;
}

.facility-content a{
  text-align: center;
  text-decoration: none;
  color: white;
}



/* features section */


.facility-section{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: -100px auto 100px auto;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.facility-contents{
  width: 80%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  transition: ease-in-out 2s;
}

.facility-container{
  margin-top: 20px;
  margin-bottom: 40px;
}

.facility-contents i{
color: #666;
cursor: pointer;
transition: .5s all;
}

.facility-contents i:hover{
  color: #205355;
  transform: scale(1.2);
}

.facility-contents p{
  font-weight: 600;
}

.feature-features{
  background-color: var(--main-color);
  color: #f5f5f5;
  /* border-radius: 30px; */
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
  gap: 10%;

}

.ficons{
  font-size: 50px;
  color: var(--white-color);
  width: auto;
}

.feat{
  display: flex;
  gap:10px;
  flex-direction: column;
  text-align: center;
}

.feat span{
  font-size: 14px;
}





/* photo gallery */

.life-in-kimdo{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto auto 100px auto;
}


.gallery {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 1.6rem; */
  /* padding: 1.6rem; */
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}



/* Testimonials */
.testimonials{
  margin: 100px auto 100px auto;
  text-align: center;
}

.testimonial-container{
  margin: 0 3rem;
  height: auto;
  margin:auto;
  /* display: flex; */
  justify-content: center;
}

.testimonials-titles .section-title::after{
  margin-bottom: 3px;
}


.testimonials-titles p{
  margin-top: -35px;
  color: #ccc;
  font-weight: 700;
}

.testimonial-comment{
  text-align: left;
  padding: 20px;
}

.testimonial-items{
  width: 300px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.247);
  /* border-radius: 5px; */
  position: relative;
  background-color: #D9EDEE;
  padding: 80px 10px 10px 10px;
  margin-top: 30px;
}

.testimonial-items:before{
  font-family: 'FontAwesome';
  content: "\f10d";
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 50px;
  transform: rotate(-30deg);
  color: #CC8E8D;
}


.testimonial-images img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 20px;
  z-index: 5;
}

.testimonial-author{
  color: #222;
  font-weight: 700;
}

.testimonial-job{
  font-size: 12px;
 color: #b25654;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: red;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width:  auto;
  height: auto;

}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* pagination */
.swiper-pagination-bullet {
  background-color: var(--main-color);
}

/* left right btn */
.prev-btn,.next-btn{
  color: var(--main-color);
  font-weight: 900;
}

/* reach us */

.reach-us {
  margin: auto auto 100px auto;
  text-align: center;
}

.reach-us-container{
  margin: 0 3rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.027);
  background-image:linear-gradient(to right,rgba(255, 255, 255, 0),#ECF6F6), url("../images/contact/contact.png");
  background-size: contain;
  padding: 20px;
  /* border-radius: 5px; */
  display: flex;
  gap: 10%;
}

.contact-title{
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.reach-us h3 {
  margin-bottom: 30px;
}

.reach-us .contact-info {
  text-align: left;
  margin-bottom: 30px;
}

.reach-us .index-map {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.281);
  width: 100%;
  /* height: 300px;  */
  /* border-radius: 5px; */
}

.contact-us-container{
  width: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.follow-us{
  display: flex;
  flex-direction: column;
}

.follow-us {
  text-align: left;
}

.follow-us a{
  color: #666;
  text-decoration: none;
}

.insta::before{
  font-family: 'FontAwesome';
  content: '\f16d';
  margin-right: 5px;
}


.fb::before{
  font-family: 'FontAwesome';
  content: '\f09a';
  margin-right: 5px;
}

.bird::before{
  font-family: 'FontAwesome';
  content: '\f099';
  margin-right: 5px;
}

.insta:hover{
  color: #DE6666;
}

.fb:hover{
  color: #3b5998 ;
}

.bird:hover{
  color:#00acee;
}

.reach-us .section-title{
  margin-bottom: 50px;
}

/* FOOTER */

.footer-container {
  background-color: #0D2122;
  color: #fff;
  padding: 30px 3rem 30px 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  /* flex-basis: 30%; */
  padding: 0 15px;
}

footer a {
  color: #fff;
}

footer h4 {
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li a {
  color: #fff;
  font-size: 20px;
}

.copyright {
  padding: 10px;
  text-align: center;
  width: 100%;
}



/* *****************ROOM PAGE **************** */

.rooms-section{
  text-align: center;
  margin: 70px 3rem 100px 3rem;
}

.allrooms{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room{
  text-align: left;
  display: flex;
  margin-bottom: 30px;
}

.rooms-content{
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  position: relative;
}

.room-page-images{
  width: 70%;
}

.room-page-images img{
  width: 100%;
  height: 100%;
}

.amenities-btn-container button {
color: var(--main-color);
display: inline;
border: none;
cursor: pointer;
padding: 0;
background-color: transparent;
transition: all .3s;
text-transform: uppercase;
font-weight: 600;
}

.amenities-btn-container button::after{
  font-family: 'FontAwesome';
  content: "\f078";
  margin-left: 3px;
  pointer-events: none;
}

.amenities-btn-container button:hover{
  text-decoration: underline;
}

.amenities-btn-container button:hover:after{
  text-decoration: none;
}

.room-availability-btn{
  padding: 8px 16px;
  border-radius: 0;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white-color);
  font-weight: 600;
}

.rooms-content:nth-child(odd)::after{
  content: "";
  width: 70px;
  height: 50px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--section-bg);
  transform: rotate(90deg);
  position: absolute;
  left: 98%;
}

.rooms-content:nth-child(even)::before{
  content: "";
  width: 70px;
  height: 50px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--section-bg);
  transform:rotate(-90deg);
  position: absolute;
  right: 98%;
}


/* *****************FACILITIES PAGE **************** */

.facility-carousel .swiper{
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 632px;
  margin-bottom: 100px;
}

.facility-carousel img{
  width: 100%;
height: 100%;
object-fit: cover;

}

.fslider-content{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.486),rgba(255, 255, 255, 0.185));
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fslider-content p{
  font-family: var(--heading);
  color: var(--white-color);
  font-size: 70px;
}

.facility-carousel .swiper-pagination-bullet{
  background-color: var(--white-color);
}

.facility-carousel .swiper-button-prev, .facility-carousel .swiper-button-next{
  color: var(--white-color);
}
.facilities-page-section{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 3rem 100px 3rem;
  justify-content: center;
  align-items: center;
}

.fp-facilities-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  grid-row-gap:30px;
}

.facilities-page-section h3{
  margin-bottom: 20px;
}

.fp-detail{
  width: 900px;
  margin-bottom: 50px;
}

.fp-facilities{
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.178);
  padding: 20px;
  border-top: 3px solid #222;
  cursor: pointer;
}

.fp-facilities:hover{
  border-top: 3px solid var(--main-color);
}

.fp-title i{
  font-size: 30px;
  margin-right: 15px;
}
.fp-title span{
  color: #222;
  font-size: 24px;
  font-weight: 600px;
}

.fp-facilities p{
  font-size: 14px;
}


/* ********************CONTACT US PAGE ******************** */

.contact-page{
  padding-top: 150px;
  margin: 0 3rem 100px 3rem;
}

.contact-page .secondary-title{
  font-size: 18px;
  font-weight: 700;
}

.contact-div{
  display: flex;
}

.contact-page-detail{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  width: 50%;
}

.contact-page-detail ul{
  list-style: none;
}

.contact-page-detail ul li{
  color:#555;
  line-height: 170%;
}

.contact-page-detail ul li strong{
 margin-right: 5px;
 color: #222;
 font-weight: 600;
}

.contact-social-icons li a i{
  color: #666;
  font-size: 40px;
}



.contact-social-icons{
  width: 50%;
  margin-top: 30px;
  display: flex;
 justify-content: space-between;
}

.contact-page-form{
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.171) ;
  padding: 30px;
  width: 50%;
}

.contact-page-form p{
  width:550px;
  font-size: 12px;
}


.contact-form-container{
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0 0 0;

}

.cf{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cf input{
  padding: 4px;
  height: 40px;
  font-size: 16px;
}

.email-phone{
  display: flex;
  gap: 5%;
}

.cform-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cform-button span{
  font-size: 14px;
  color: #222;
}

.map{
  margin-top: 50px;
  text-align: center;
}

.map .secondary-title::after{
  font-family: "FontAwesome";
  content: '\f3c5';
  margin-left: 5px;
}


/* **********About us page ****************** */

.about-us-main{
  display: flex;
  padding: 150px 100px 0 100px;
  background-color: var(--main-color-darkshade);

}

.about-us{
  padding: 50px;
  padding-top: 0;

  width: 70%;
}

.ternary-title{
  font-size: 18px;
  color: var(--main-color-lightshade);
  font-family: var(--heading);
}



.owners-image img{
  width: 400px;
  height: 450px;
  /* height: 400px; */
  animation: morph 3.5s linear infinite;
  object-fit: cover;

}

.owner-name{
  position: relative;
  text-align: center;
  color: #f5f5f5;
  font-size:large;
line-height: 1px;

}

.owner-job{
  position: relative;
  text-align: center;
  color: #f5f5f5;
  font-size: smaller;

}

.owner-info{
  position: relative;
  top: -100px;
  transition: 0.5s all;
  opacity: 0;
}

.owners-image img:hover + .owner-info{
  opacity:1;
}


@keyframes morph{
  0%,
  100% {
   border-radius: 40% 60% 70% 30% /
   40% 40% 60% 50%;
  }
  34%{
    border-radius: 70% 30% 50% 50%/
    30% 30% 70% 70%;
  }
  67%{
    border-radius: 100% 60% 60% 100%/
    100% 100% 60% 60%;
  }
}

.aboutus-h1{
  color: var(--white-color);
}

.history{
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.commitment{
  color: #ccc;
  font-weight: 400;
  font-size: 16px;
}

.aboutus-h1-container{
  position: relative;
  margin-bottom: 40px;
}

.aboutus-h1:after{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 180px;
    height: 10px;
    left: 0;
    bottom: -10px;
}

.about-image{
    margin: 50px;
  display: flex;
  gap: 20px;
  height: 250px;
  justify-content: center;
}

.hotel-team{
  text-align: center;
}

.management-faces{
  display: flex;
  gap: 5%;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.management-container img{
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.management-container{
  text-align: left;
  position: relative;
  transition: 0.5s all;
}

.management-name-outer{
  color: var(--main-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 170%;
}

.management-title-outer{
  color: #444;
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}


.overlay{
  transform: scale(1.2);
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--main-color-darkshade);
  transition: 0.7s ease-out;
}

.management-container:hover .overlay{
  opacity:1;
}

.management-name-inner, .management-info, .management-title-inner{
  color: white;
  font-size: 20px;
  text-align: left;
}

.management-info{
  font-size: 12px;
  color: var(--white-color);
}

.management-name-inner{
  color: var(--main-color-lightshade);
  line-height: 1;
  font-size: 24px;
}

.management-title-inner{
  color: #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.management-socialmedias{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.management-socialmedias a{
  font-size: 30px;
  color: var(--white-color);
}

.management-socialmedias a:nth-child(1):hover{
  color: #DE6666;
}

.management-socialmedias a:nth-child(2):hover{
  color: #3b5998;
}

.management-socialmedias a:nth-child(3):hover{
  color: #00acee;
}

.size30px{
  font-size: 30px;
}

.vision{
  display: flex;
  justify-content: center;
}

.visiontitle{
  text-align: center;
  width: 1000px;
}

.values{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.value-main-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 40px;
  row-gap: 50px;
}

.value-container{
  width: 400px;
  display: flex;
  flex-direction: column;

}

.value-title{
  color: var(--main-color);
  font-size: 24px;
  line-height: 170%;
}

.value-icon{
  font-size: 30px;
}


/* ********modal form ********* */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.bookingformcontainer{
  padding-top:100px;
  display: flex;
}



.bookingform {

  background-color: #fefefe;
  margin:auto; /* 15% from the top and centered */
  padding:20px;
  border: 1px solid #888;
  width: 50%;
  text-align: left;
}

/* .bookmodal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-close{
  font-size: 36px;
  color: rgb(255, 136, 136);
  cursor: pointer;
}

.modal-close:hover{
  color: red;
} */

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input, select, textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.not-login-error{
  padding: 100px;
}

.not-login-error h1{
  font-weight: 600;
  font-size: 24px;
  color: red;
}

/* ***************Booking Error Handling ******************/


/* sucess */
.sucessalert{
 display: flex;
 justify-content: space-between;
 align-items: center;
  background-color: rgb(176, 255, 176);
  padding: 5px 10px;
  position: absolute;
  top: 100px;
  right: 10px;
  gap: 100px;
  border: 1px solid green;
  animation: showSuccessAlert 0.5s backwards;
  z-index: 10000000000000000000;
}

.sucess-content{
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.sucessalert .sucess-content span{
  font-size: 12px;
}




@keyframes showSuccessAlert {
  0% {
      opacity: 0;
      display: none;
      transform: translateX(100px);
  }
  100% {
      opacity: 1;
      transform: translateX(-10px);
      display: block;
  }
}

.sucessalert p{
  color:green;
  font-size: 16px;
}

.close-btn{
  color: rgb(255, 87, 87);
  font-size: 20px;
  border: none;
  background-color: transparent;
}

/* booking error */
.erroralert{
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: rgba(255, 165, 165, 0.712);
   padding: 5px 10px;
   position: absolute;
   top: 100px;
   right: 10px;
   gap: 100px;
   border: 1px solid red;
   animation: showSuccessAlert 0.5s backwards;
 }

 @keyframes showerrorAlert {
  0% {
      opacity: 0;
      display: none;
      transform: translateX(100px);
  }
  100% {
      opacity: 1;
      transform: translateX(-10px);
      display: block;
  }
}

 .erroralert p{
   color:red;
   font-size: 16px;
 }

/* *********check room section **********/
.checkroomssection{
 padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.33%;
  gap: 5%;

  justify-content: center;
}

.room-card{
  flex-basis: 33.33%;

}

.personerror{
  color: red;
  font-size: 24px;
  margin: auto;
  height: 400px;
}










